<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homepage</h1>
    <% if(locals.user){ %>
        <h1>User istnieje</h1>
    <%} %>
    <form action="/login" method="post">
        <label for="email">Username</label>
        <input type="email" id="email" name="email">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Sing in</button>
        <div><a href="/signup">Dont have an acocut? Sign up!</a></div>
    </form>
</body>
</html>