:root {
    --primary: #31081F; 
    --secondary: #6B0F1A;
    --third: #595959;
    --text-color: #DCE0D9;
    --text-color-secondary: #808F85;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

a{
    text-decoration: none;
    color: inherit;
}
.homepage-main,
.signup-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary);
}

.form-homepage,
.form-signup{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.login-text{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    
}

.label{
    text-align: left;
    font-size: 1.2rem;
}
#email,
#password,
#firstname,
#lastname,
#body,
#title{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    min-width: 320px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: black;
    font-size: 1.1rem;
}
.submit-btn,
.signup-btn{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--third);
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    
}
.submit-btn:hover,
.signup-btn:hover,
.create-btn:hover{
    background-color: var(--text-color-secondary);
}




/* main page */
.dashboard{
    background-color: var(--primary);
    min-height: 100vh;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.nav-left{
    font-size: 1.5rem;
}
.nav-middle{
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    
}
.plus:hover{
    transition: all linear 0.1s;
    transform: scale(1.2);
}

.flex-username{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.plus{
    font-size: 1.8rem;
    font-weight: normal;
}
nav{
    color: var(--text-color);
}

.nav-right{
    display: flex;
    gap: 30px;
}

.add-message-container{
    padding: 2rem;
    max-width: 550px;
    background-color: var(--secondary);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 3;
}

.create-btn{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--third);
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}


.messages-section{
    margin-top: 2rem
}
.swiper {
  width: 400px;
  height: 75vh;
  color: black;
}
.swiper-slide {
  border: 1px solid #ccc;
  padding: 20px;
  height: auto;
  background-color: #fff;
  border-radius: 0.5rem;
}

.message-container{
    color: black;
    width: 100%;
    background-color: white; 
}
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
}