:root {
    --primary: #f5f5f5; 
    --secondary: #2c3e50;
    --third: #e74c3c;
    --text-color: #DCE0D9;
    --text-color-secondary: #808F85;
}
body{
    background-color: var(--primary);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

a{
    text-decoration: none;
    color: inherit;
}
.homepage-main,
.signup-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary);
}

.form-homepage,
.form-signup{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    
}
.login-text{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary);
    
}

.a-sign{
    color: var(--text-color);
}

.label{
    text-align: left;
    font-size: 1.2rem;
    color: var(--text-color);
}
#email,
#password,
#firstname,
#lastname,
#body,
#title{
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    min-width: 320px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: black;
    font-size: 1.1rem;
}
.submit-btn,
.signup-btn{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--third);
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    
}
.submit-btn:hover,
.signup-btn:hover,
.create-btn:hover{
    background-color: var(--text-color-secondary);
}




/* main page */
.dashboard{
    background-color: var(--primary);
    min-height: 100vh;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    gap: 20px;
   
}
.nav-left{
    font-size: 1.5rem;
    color: var(--secondary);
}
.nav-middle{
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--secondary);
    
}
.plus:hover{
    transition: all linear 0.1s;
    transform: scale(1.2);
}

.flex-username{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.plus{
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: normal;
    color: var(--third);
}
nav{
    color: var(--text-color);
}

.nav-right{
    display: flex;
    gap: 30px;
    color: var(--secondary);
}

.add-message-container{
    padding: 2rem;
    max-width: 550px;
    background-color: var(--secondary);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 3;
}

.create-btn{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--third);
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}


.messages-section{
    margin-top: 2rem
}
.swiper {
  width: 400px;
  height: 75vh;
  color: black;
}
.swiper-slide {
  border: 1px solid #ccc;
  padding: 20px;
  height: auto;
  background-color: #fff;
  border-radius: 0.5rem;
}

.message-container{
    color: black;
    width: 100%;
    background-color: white; 
}
.msg-top-flex{
    display: flex;
    justify-content: space-between;
}
.msg-user{
    display: flex;
    gap: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}
.msg-time{
    font-size: 0.8rem;
}
.msg-title{
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}


/* premium page*/
.main-premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: var(--primary);
    margin-top: 4rem;
}
.container-premium{
    max-width: 400px;
    background-color: var(--secondary);
    padding: 4rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.2rem;
}

.question{
    font-weight: bold;
    color: var(--third);
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}
#premium{
    padding: 0.5rem;
    border-radius: 0.5rem;
    
    margin-bottom: 0.5rem;
}

.btn-premium{
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: black;
    border: none;
    cursor: pointer;
}
.btn-premium:hover{
    background-color: var(--text-color-secondary);
}
.hidden-msg{
    color: var(--);
    margin-bottom: 0.5rem;
    display: inline-block;
}